<div class="container">
  <h1 class="mt-3">Motor List</h1>
  <a [routerLink] = "['/admin/motors/add']" class="btn btn-primary">Add Motor</a>
  <div class="d-flex mt-3">
    <div *ngFor="let motor of motors" class="motor-container">
        <h1>{{ motor.name }}</h1>
          <p>Power: {{ motor.power }} kW</p>
          <p>Current: {{ motor.current }} A</p>
          <p>Speed: {{ motor.nominalSpeed }} rpm</p>
          <p>NominalSpeed: {{ motor.nominalSpeed }}</p>
          <p>Price: {{ motor.price }} руб</p>
          <p>Description: {{ motor.description }}</p>
          <a [routerLink] = "['/motors','edit', motor.id]" class="btn btn-primary">Edit Motor</a>
          <button type="button"  class="btn btn-danger" (click)="setDelete(motor)">Delete</button>
    </div>
  </div>

</div>

